@use 'themes' as t;
@use 'includes' as i;

:host {
  @include i.flex-column(center, flex-start);
  width: 100%;
  height: 100vh;
  background-color: t.get-color('neutral-gray', 300);
  padding: 3rem 1rem;
  gap: 2rem;
}

.title {
  font-weight: bold;
}

.question-btn {
  @include i.flex-row(center, center);
  gap: 0.5rem;
}
