:host {
  position: relative;
  display: flex;
}

.password-input {
  width: 100%;
}

app-icon {
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  right: .825rem;
  top: 1.6rem;
  transform: translateY(-50%);
  user-select: none;

  &.danger{
    top: 1.6rem;
  }
}
